<div *ngIf="loading ;else x" class="d-flex justify-content-center vh-100 align-items-center ">
    <i class="fas fa-spin fa-spinner fa-5x text-info"></i>
</div>

<ng-template #x>
    <div class="container">
        <div class="row py-5">


            <div *ngFor="let movie of movies" class="col-md-2" [routerLink]="['/details',movie.id,'movie']">
                <div class="my-2 position-relative">
                    <img [src]="'https://image.tmdb.org/t/p/w500'+movie?.poster_path" class="w-100"
                        [alt]="movie?.title">
                    <h3 class="h5 py-2">{{movie?.title}}</h3>
                    <span
                        class="position-absolute rounded bg-warning text-black fw-bolder top-0 start-0 p-1 m-1">{{movie?.vote_average?.toFixed(1)}}
                        <i class="fa-solid fa-star "></i></span>
                </div>
            </div>

        </div>



    </div>
</ng-template>