.brdr {
    background-color: #eee;
    height: 1px;
}

.col-md-2 {
    cursor: pointer;
    transition: transform 0.3s;

}

.col-md-2:hover {
    transform: scale(1.05, 1.05);
}

.fa-spin {
    color: #4799EB;
}